.card {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow:
    1px 1px 1px rgba(0, 0, 0, 0.02),
    1px 1px 1px rgba(0, 0, 0, 0.05);
}
